---
import { SITE_COMPANY, SITE_NAME, SITE_SLOGAN1, SITE_SLOGAN2, AWF_INFO1, AWF_INFO2 } from "../config"
---

<div>
  <h1><span class="text-texas-rose-500">{SITE_NAME}</span></h1>
  <h2 class="font-sub-header text-wild-willow-400">{SITE_SLOGAN1}</h2>
  <h2>{SITE_SLOGAN2}</h2>
  <p class="pt-4 pr-8">
    {AWF_INFO1}
  </p>
  <p class="pt-4 pr-8">
    {AWF_INFO2}
  </p>
</div>