---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '../styles/global.css';

export interface Props {
	company: string;
	name: string;
	description: string;
	image?: string;
}

const { company, name, description, image = '/placeholder-social.jpg' } = Astro.props;
const title = `${company} {name}`
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="https://awebfactory.com/wp-content/uploads/2021/04/cropped-icon170-32x32.png" sizes="32x32" />
<link rel="icon" href="https://awebfactory.com/wp-content/uploads/2021/04/cropped-icon170-192x192.png" sizes="192x192" />
<link rel="apple-touch-icon" href="https://awebfactory.com/wp-content/uploads/2021/04/cropped-icon170-180x180.png" />
<meta name="msapplication-TileImage" content="https://awebfactory.com/wp-content/uploads/2021/04/cropped-icon170-270x270.png" />
<meta name="generator" content={Astro.generator} />

<!-- Primary Meta Tags -->
<title>{company} {name}</title>
<meta name="title" content={company} {description} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />
